<div class="d-flex align-items-center osahan-post-header">
  <div class="dropdown-list-image mr-3 mb-auto">
    <img class="rounded-circle" src="assets/img/p1.png" alt="" />
  </div>
  <div class="mr-1">
    <div class="text-truncate h6 mb-3">Carl Jenkins</div>
    <p>Hi Marie</p>
    <p>
      welcome to Live Chat! My name is Jason. How can I help you today?
      <a href="#">iamosahan@gmail.com</a>
    </p>
  </div>
  <span class="ml-auto mb-auto">
    <div class="text-right text-muted pt-1 small">00:21PM</div>
  </span>
</div>
