<div class="osahan-chat-list">
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
    <app-contact-list-element></app-contact-list-element>
</div>
