<nav class="navbar navbar-light bg-light">
    <div class="d-flex justify-content-around">
      <div class="nav-item active">
        <a class="nav-link"
          ><mat-icon aria-hidden="false" aria-label="Example home icon"
            >home</mat-icon
          ><span class="sr-only">(current)</span></a
        >
      </div>
      <div class="nav-item">
        <a class="nav-link"
          ><mat-icon aria-hidden="false" aria-label="Example home icon"
            >location_on</mat-icon
          ></a
        >
      </div>
      <div class="nav-item">
        <a class="nav-link"
          ><mat-icon aria-hidden="false" aria-label="Example home icon"
            >smart_toy</mat-icon
          ></a
        >
      </div>
      <div class="nav-item">
        <a class="nav-link"
          ><mat-icon aria-hidden="false" aria-label="Example home icon"
            >settings</mat-icon
          ></a
        >
      </div>
    </div>
</nav>
