<div class="">
  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
    <div class="font-weight-bold mr-1 overflow-hidden">
      <div class="text-truncate">Carl Jenkins</div>
      <div class="small text-truncate overflow-hidden text-black-50">
        Askbootstap.com - Become a Product Manager with super power
      </div>
    </div>
    <span class="ml-auto">
      <button type="button" class="btn btn-light btn-sm rounded">
        <i class="feather-phone"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm rounded">
        <i class="feather-video"></i>
      </button>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-light btn-sm rounded"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="feather-more-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">
            <i class="feather-trash"></i> Delete
          </button>
          <button class="dropdown-item" type="button">
            <i class="feather-x-circle"></i> Turn Off
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="osahan-chat-box p-3 border-top border-bottom bg-light">
    <div class="text-center my-3">
      <span class="px-3 py-2 small bg-white shadow-sm rounded"
        >DEC 21, 2020</span
      >
    </div>
    <app-chat-list-element></app-chat-list-element>
    <app-chat-list-element></app-chat-list-element>
    <app-chat-list-element></app-chat-list-element>
    <app-chat-list-element></app-chat-list-element>
    <app-chat-list-element></app-chat-list-element>
  </div>
  <div class="w-100 border-top border-bottom">
    <textarea placeholder="Write a message…" class="form-control border-0 p-3 shadow-none" rows="2"></textarea>
 </div>
 <div class="p-3 d-flex align-items-center">
    <div class="overflow-hidden">
       <button type="button" class="btn btn-light btn-sm rounded">
       <i class="feather-image"></i>
       </button>
       <button type="button" class="btn btn-light btn-sm rounded">
       <i class="feather-paperclip"></i>
       </button>
       <button type="button" class="btn btn-light btn-sm rounded">
       <i class="feather-camera"></i>
       </button>
    </div>
    <span class="ml-auto">
    <button type="button" class="btn btn-primary btn-sm rounded">
    <i class="feather-send"></i> Send
    </button>
    </span>
 </div>
</div>
