<div class="bg-white">
    <div class="container">
       <div class="row justify-content-center align-items-center d-flex vh-100">
          <div class="col-md-4 mx-auto">
             <div class="osahan-login py-4">
                <div class="text-center mb-4">
                   <a href="index.html"><img src="img/logo.svg" alt=""></a>
                   <h5 class="font-weight-bold mt-3">Welcome Back</h5>
                   <p class="text-muted">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
                </div>
                <form action="index.html">
                   <div class="form-group">
                      <label class="mb-1">Email or Phone</label>
                      <div class="position-relative icon-form-control">
                         <i class="feather-user position-absolute"></i>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <button class="btn btn-primary btn-block text-uppercase" type="submit"> Sign in </button>
                   <div class="text-center mt-3 border-bottom pb-3">
                      <p class="small text-muted">Or login with</p>
                      <div class="row">
                         <div class="col-4">
                            <button type="button" class="btn btn-sm btn-outline-instagram btn-block"><i class="feather-instagram"></i> Instagram</button>
                         </div>
                         <div class="col-4">
                            <button type="button" class="btn btn-sm btn-outline-linkedin btn-block"><i class="feather-twitter"></i> Twitter</button>
                         </div>
                         <div class="col-4">
                            <button type="button" class="btn btn-sm btn-outline-facebook btn-block"><i class="feather-facebook"></i> Facebook</button>
                         </div>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>